body{
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4e55e45f-decb-4fb8-b657-04a7f5e36495/deu3jg3-af7617af-4218-4b03-9a25-759a1fbbbee7.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzRlNTVlNDVmLWRlY2ItNGZiOC1iNjU3LTA0YTdmNWUzNjQ5NVwvZGV1M2pnMy1hZjc2MTdhZi00MjE4LTRiMDMtOWEyNS03NTlhMWZiYmJlZTcuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.fjBo7ABqyFVAhwOjHe1FlRvojmNqGc10_Fuy9dWAxHY");
        background-size:1800px;

}
#descripcion-arakemi {
    text-align:left;
    color: rgb(70, 247, 47);
}
#button-back {
    background-color: transparent;
    border-color: transparent;
    color: rgb(83, 255, 49);
    font-size: xx-large;
    font-family: 'Silkscreen',cursive;
    width: 300px;
    height: 50px;
}
img.arakemi-img {
    width: 300px;
    height: 500px;
    float: left;
    font-size: xx-large;  
    
}